[
  ["Your_Client_Name", "http://YOUR_HYDRUS_IP:YOUR_HYDRUS_PORT/", "YOUR_API_KEY", "YOUR_DESCRIPTION_OF_CONTENT"],
  ["Your_Client_Name2", "http://YOUR_HYDRUS_IP2:YOUR_HYDRUS_PORT2/", "YOUR_API_KEY2", "YOUR_DESCRIPTION_OF_CONTENT2"]
]